<a href="https://colab.research.google.com/github/gp201/BERT/blob/master/create_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import re
import pandas as pd
from csv import writer

In [0]:
# tags from corpus
tagged_corpus = pd.read_csv("corpus_tags.tsv", sep="\t", names=["pmid", "start", "end", "word", "type", "umls_id"])
tagged_corpus = tagged_corpus.dropna()
tagged_corpus.iloc[610:640]

         pmid  start  ...       type   umls_id
610  26867927      0  ...       T061  C0850292
611  26867927     27  ...       T023  C0447025
612  26867927     60  ...       T080  C0332281
613  26867927     76  ...  T019,T047  C3163894
614  26867927    103  ...       T023  C0447025
615  26867927    143  ...       T080  C0332281
616  26867927    161  ...  T019,T047  C3163894
617  26867927    227  ...       T201  C0683325
618  26867927    253  ...       T052  C1283195
619  26867927    265  ...       T061  C3275043
620  26867927    304  ...       T062  C0035363
621  26867927    331  ...       T101  C0030705
622  26867927    354  ...       T061  C0547070
623  26867927    366  ...       T023  C0447025
624  26867927    404  ...       T082  C0205099
625  26867927    419  ...       T101  C0030705
626  26867927    435  ...  T019,T047  C3163894
627  26867927    472  ...       T023  C1180121
628  26867927    501  ...       T078  C0441833
629  26867927    526  ...       T101  C0030705
630  26867927    542  ...       T078  C0441833
631  26867927    552  ...       T170  C2708283
632  26867927    575  ...       T061  C0547070
633  26867927    636  ...       T078  C0441833
634  26867927    658  ...       T101  C0030705
635  26867927    688  ...       T078  C0441833
636  26867927    706  ...       T078  C0441833
637  26867927    757  ...       T081  C0001782
638  26867927    764  ...       T081  C0036878
639  26867927    782  ...       T047  C0004238

[30 rows x 6 columns]

In [0]:
classes = []
with open("vocab_class.txt") as ftags:
    classes = [i.strip() for i in ftags.readlines()]
    ftags.close()
classes

['T047', 'T005', 'T007', 'T016']

In [0]:
sentence_count = 1
def get_words_tags(text, pmid,start=0):
    words = []
    tags = []  
    row_cont = []
    typ = "O"
    global sentence_count
    df = tagged_corpus[(tagged_corpus["pmid"]==int(pmid)) & (tagged_corpus["end"] <= start + len(text)) & (tagged_corpus["start"] >= start)]
    indices = df.index.values
    #print(indices)
    for word in text.split():
        for i in indices:
            #print('jj',i)
            text2 = df.loc[i]["word"]
            #print('$$',text2.split())
            if word in text2.split() and set(df.loc[i]["type"].split(',')).intersection(classes):
                typ = df.loc[i]["type"]
                break
            else:
                typ = "O"
            #print("#",word,"#",typ)
        row_cont.append(["Sentence: " + str(sentence_count),word,typ])
    sentence_count = sentence_count + 1
    return row_cont

In [0]:
title_regex = re.compile("^\d+\|t\|")
abstract_regex = re.compile("^\d+\|a\|")


fr = open("corpus_pubtator.txt") #corpus file should be placed here

fw = open('dataset.csv','a')
fw_writer = writer(fw)
first_row = ["Sentence #","Word","Tag"]
fw_writer.writerow(first_row)
fw.close()

In [0]:
def append_list_as_row(file_name, list_of_elem):
    # Open file in append mode
    with open(file_name, 'a', newline='') as write_obj:
        # Create a writer object from csv module
        csv_writer = writer(write_obj)
        # Add contents of list as last row in the csv file
        for row in list_of_elem:
          csv_writer.writerow(row)
        blank = ['','','']
        csv_writer.writerow(blank)

In [0]:
abstract_count = 0
for i in fr.readlines():
    row_content = []
    line = i.strip()
    title_search = title_regex.search(line)
    abstract_search = abstract_regex.search(line)
    if title_search:
        title_line = title_regex.sub('',line)
    elif abstract_search:
        abstract = abstract_regex.sub('',line)
        pmid = int(abstract_search.group(0)[:-3])
        row_content = get_words_tags(title_line,pmid,0)
        append_list_as_row('dataset.csv', row_content)
        title_size = len(title_line) + 1                     # 1 for \n        
        for sentence in re.split("\.", abstract):
            if len(sentence) == 0:
                continue
            _size = abstract.index(sentence) + title_size
            row_content = get_words_tags(sentence, pmid,_size)
            append_list_as_row('dataset.csv', row_content)
        abstract_count += 1
        if abstract_count%10 == 0:
            print("PMID {} written to file. Abstract Count: {}".format(pmid, abstract_count))
fr.close()
print("Completed")